<div class="cards">
  <div class="card card-1">
    <div class="card__icon"><i class="fas fa-bolt"></i></div>
    <p class="card__exit"><i class="fas fa-times"></i></p>
    <h2 class="card__title"><%= category.name %></h2>
    <p class="card__apply">
      <a class="card__link" href="#"><%= category.icon %><i class="fas fa-arrow-right"></i></a>
    </p>
  </div>
</div>
